{% extends 'base.html' %}
{% block head %}
<title>Search</title>
{% endblock %}
{% block body %}
{% if val == 0 %}
<form action = "/search" method = "POST">
    Enter search ID:<input type = "number" name = "eid" value = "eid">
    <br>
    <input type = "Submit" value = "Submit">
</form>
{% elif val == 1 %}
<p>Employee Name: {{ emp_lists[emp].name }}</p>
<p>Employee Age: {{ emp_lists[emp].age }}</p>
<p>Employee ID: {{ emp_lists[emp].eid }}</p>
<p>Employee Position: {{ emp_lists[emp].position }}</p>
{% endif %}
<form action = "/"><input type= "Submit" value = "Back To Homepage"></form>
{% endblock %}